# Install the multi-backend version of bitsandbytes
https://github.com/bitsandbytes-foundation/bitsandbytes/releases/download/continuous-release_multi-backend-refactor/bitsandbytes-0.44.1.dev0-py3-none-manylinux_2_24_x86_64.whl

datasets
huggingface_hub[cli]
unsloth[colab-new] @ git+https://github.com/unslothai/unsloth.git
xformers==0.0.28.post2
trl
peft
accelerate
bitsandbytes
torchvision
torch
sentencepiece
transformers[torch]>=4.45.1
streamlit==1.40.1
gguf>=0.10.0
pytest
flake8
